@use "presets" as *;
@use "mixins" as *;

.about {
  background-color: $color-gray-light;
  padding-top: 100px;
  padding-bottom: 100px;
  letter-spacing: 0.055em;

  &__container {
    @extend %container;
  }

  &__content {
    display: grid;
    align-items: center;
  }

  &__image {
    max-width: 100%;
    max-height: 480px;
    position: absolute;
    right: 20px;
    margin-bottom: 100px;
  }
}

.about h2 {
  font-size: 2.5rem;
  letter-spacing: 0.1em;
  line-height: 3rem;
  color: $color-primary;
  margin-bottom: 48px;
}

.about p {
  width: 864px;
  font-size: 1.125rem;
  letter-spacing: 0.056em;
  line-height: 1.5rem;
  color: #637588;
}

.about__content p:first-of-type {
  position: relative;
  margin-top: -5px;
  margin-bottom: 18px;
}

.about__content p:first-of-type::after {
  position: absolute;
  top: 0;
  right: -50px;
  width: 2px;
  height: 200px;
  content: "";
  background-color: rgba(99, 117, 136, 0.1);
}