@use "presets" as *;
@use "mixins" as *;

.about {
  background-color: $color-gray-light;
  letter-spacing: 0.055em;
  padding-top: 100px;
  padding-bottom: 100px;
  max-height: 100vh;

  &__container {
    @extend %container;
    display: grid;
  }

  &__content {
    display: grid;
    align-items: center;
  }

  &__image {
    position: absolute;
    transform: translateX(956px);
  }
}

.about__image img {
  max-width: 100%;
  max-height: 480px;
}

.about h2 {
  position: relative;
  font-size: 2.5rem;
  letter-spacing: 0.1em;
  line-height: 3rem;
  color: $color-primary;
  margin-bottom: 48px;
  margin-top: 0;
}

.about p {
  width: 864px;
  font-size: 1.125rem;
  letter-spacing: inherit;
  line-height: 1.3rem;
  color: $color-gray;
  margin-top: 0;
}

.about__content p:first-of-type {
  position: relative;
  margin-top: -5px;
}

.about__content p:last-of-type {
  margin: 0;
}

.about__content p:first-of-type::after {
  position: absolute;
  top: 0;
  right: -40px;
  width: 2px;
  height: 200px;
  content: "";
  background-color: rgba(99, 117, 136, 0.1);
}