@use "presets/skin" as *;
@use "presets/variables" as *;

@use "mixins/mixins" as *;

.header-navbar {
  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30px, max-content));
    justify-content: end;
    gap: 20px;

    @include unlist(0 (-$gap-sm) 0 0);
  }

  &__item {}

  &__link {
    display: block;
    padding: $gap $gap-sm;

    font-size: 1.125rem;
    letter-spacing: 0.1em;

    &:hover,
    &:focus {
      color: $color-accent;
    }

  }

}