@use "presets" as *;
@use "mixins" as *;

.header-navbar {

  &__btn {
    width: 30px;
    height: 22.5px;
    position: relative;
    margin: $gap-sm 0 $gap-sm auto;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;

    @include md-min {
      display: none;
    }

    &-row {
      display: block;
      position: absolute;
      height: 3px;
      width: 100%;
      background: $color-white;
      border-radius: 3px;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: .25s ease-in-out;

      &:nth-child(1) {
        top: 0px;
      }

      &:nth-child(2) {
        top: 9px;
      }

      &:nth-child(3) {
        top: 18px;
      }
    }

    &.active span {
      &:nth-child(1) {
        top: 9px;
        transform: rotate(135deg);
      }

      &:nth-child(2) {
        opacity: 0;
        left: -30px;
      }

      &:nth-child(3) {
        top: 9px;
        transform: rotate(-135deg);
      }
    }
  }

  &__list {
    @include md-min {
      @include unlist(0 (-$gap-sm) 0 0);

      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(30px, max-content));
      justify-content: end;
      gap: 20px;
    }

    @include md {
      background-color: rgba($color-gray-dark, 0.9);
      display: none;
      right: $gap;
      top: 100%;
      position: absolute;
      text-align: right;
      @include unlist;
      @include box-shadow;
    }
  }

  &__item {
    @include md {
      margin: $gap $gap-sm;
    }
  }

  &__link {
    @include md-min {
      padding: $gap $gap-sm;
    }

    @include md {
      padding: $gap-sm $gap;
    }

    display: block;

    font-size: 1.125rem;
    letter-spacing: 0.1em;

    &:hover,
    &:focus {
      color: $color-accent;
    }

  }

}