@use "presets" as *;
@use "mixins" as *;

.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  border-width: 2px;
  border-style: solid;

  padding: 0.5em 1em;

  letter-spacing: 0.1em;

  transition: background-color 0.25s;

  &:hover {
    background-color: $color-accent;
  }

  &--light {
    background-color: rgba($color-white, 0.1);
    border-color: $color-white;

    @include lg-min {
      font-size: 1.125rem;
      min-width: 250px;
      min-height: 60px;
    }

    @include lg-md {
      min-width: 200px;
      min-height: 50px;
    }

    @include md {
      min-width: 170px;
      min-height: 40px;
    }
  }

  &--primary {
    min-height: 60px;
    background-color: rgba($color-primary, 0.8);
    border-color: $color-primary;
    font-size: 1.125rem;

    @include sm-min {
      min-width: 350px;
    }

    @include sm {
      min-width: 100%;
    }
  }

}

.visually-hidden {
  @include visually-hidden;
}