@use "presets/skin" as *;
@use "presets/variables" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: $font-main;
  font-size: $font-size;
}

body {
  color: $color-gray;
  background-color: $color-white;
}

h1 {
  font-size: 60px;
  letter-spacing: 5px;
  font-weight: 300;
  font-family: $font-header;
}

h2 {
  font-family: $font-header;
}

a {
  text-decoration: none;
  color: $color-white;
}